* {
    margin: 5px;
    padding: 20px;
}
.search{
    background-color:rgb(255, 255, 255);
    border-radius: 12px;
    border-color: rgb(42, 208, 183);
    color: rgb(42, 208, 183);
    padding: 15px 50px;
    text-align: center;
    font-size: 20px;
}
.add{
    background-color: rgb(55, 184, 122);
    border-color:rgb(55, 184, 122);
    border-radius: 50%;
    text-align: center;
    color: white;
    padding: 15px 15px;
}
.create{
    background-color: rgb(0, 115, 255);
    border-color: black;
    color:white;
    padding: 20px, 80px;
    text-align:center;
    font-size: 25px;
    box-shadow: 10px 5px 5px black;
}